*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff3b8;
}

.header{
    background-color: antiquewhite;
    width: 100%;
    height: 70px;
}

.hwrapper{
    max-width: 1000px;
    margin: 0 auto;
}

h2{
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.bottun-list{
    list-style: none;
    float:right ;
    margin-top: 20px;
}

.list{
    float:left;
    width: 120px;
    height: 30px;
    background-color: antiquewhite;
    margin-left: 10px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
}

.greet{
    float: left;
    font-size: 25px;
    line-height: 70px;
    margin-left: 30px;
}

main{
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
}
.page-title ,.message{
    text-align: center;
    padding-bottom: 30px;
}

table{
    width: 500px;
    margin: 0 auto;
}

td{
    height: 40px;
    line-height: 40px;
}

.form-item-input{
    float: right;
}

.name{
    margin-left: 7px;
}

.list-btn{
    width:170px;
    padding:3px 7px;
    border-radius:5px;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.list-btn:hover{
    background-color: white;
}

.bottun{
    text-align: center;
}

.btn{
    width:170px;
    padding:3px 7px;
    border-radius:5px;
    border        : 1px solid #000066; 
    margin-top: 20px;
    text-decoration: none;

    font-size: small;
}

.bottun a{
    display : inline-block;
    padding :3px 0;
}

.confirm{
    background-color:#f39800;
    color: white;
}

.former{
    background-color:white;
    color: #f39800;
}

.error{
    color: red;
    font-size: small;
}